<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active"><a href="index.html"><i class="la la-home"></i><span class="menu-title" data-i18n="">Crypto Dashboard</span></a>
            </li>
            <li class=" navigation-header"><span data-i18n="nav.category.crypto">Dashboard</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Crypto"></i>
            </li>
            <li class=" nav-item"><a routerLink="/dashboard"><i class="la la-list"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
            </li>
            <li class=" nav-item"><a href="/datatable"><i class="la la-money"></i><span class="menu-title" data-i18n="">Currency Exchange</span></a>
            </li>
            <!-- <li class=" nav-item"><a href="crypto-currency-exchange.html"><i class="la la-money"></i><span class="menu-title" data-i18n="">Currency Exchange</span></a>
            </li>
            <li class=" nav-item"><a href="crypto-trading.html"><i class="la la-dollar"></i><span class="menu-title" data-i18n="">Trading</span></a>
            </li>
            <li class=" nav-item"><a href="crypto-wallet.html"><i class="la la-credit-card"></i><span class="menu-title" data-i18n="">Wallet</span></a>
            </li>
            <li class=" nav-item"><a href="crypto-history.html"><i class="la la-check-circle-o"></i><span class="menu-title" data-i18n="">History</span></a>
            </li>
            <li class=" navigation-header"><span data-i18n="nav.category.ui">User Interface</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="User Interface"></i>
            </li> -->
            <li class=" nav-item"><a href="#"><i class="la la-server"></i><span class="menu-title" data-i18n="nav.components.main">Components</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="component-alerts.html"><i></i><span data-i18n="nav.components.component_alerts">Alerts</span></a>
                    </li>
                    <li><a class="menu-item" href="component-callout.html"><i></i><span data-i18n="nav.components.component_callout">Callout</span></a>
                    </li>
                    <li><a class="menu-item" href="#"><i></i><span data-i18n="nav.components.components_buttons.main">Buttons</span></a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="component-buttons-basic.html"><i></i><span data-i18n="nav.components.components_buttons.component_buttons_basic">Basic Buttons</span></a>
                            </li>
                            <li><a class="menu-item" href="component-buttons-extended.html"><i></i><span data-i18n="nav.components.components_buttons.component_buttons_extended">Extended Buttons</span></a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="component-carousel.html"><i></i><span data-i18n="nav.components.component_carousel">Carousel</span></a>
                    </li>
                    <li><a class="menu-item" href="component-collapse.html"><i></i><span data-i18n="nav.components.component_collapse">Collapse</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>